In [12]:
!pip install pandas
!pip install metapy
!pip install pyspark
!pip install nltk
!pip install boto3

Requirement already satisfied: pandas in /home/hadoop/env/lib64/python3.6/site-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /home/hadoop/env/lib/python3.6/dist-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in /home/hadoop/env/lib/python3.6/site-packages (from pandas) (2019.1)
Requirement already satisfied: numpy>=1.12.0 in /home/hadoop/env/lib64/python3.6/site-packages (from pandas) (1.16.4)
Requirement already satisfied: six>=1.5 in /home/hadoop/env/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)
Requirement already satisfied: metapy in /home/hadoop/env/lib64/python3.6/site-packages (0.2.13)
Requirement already satisfied: pyspark in /home/hadoop/env/lib/python3.6/site-packages (2.4.3)
Requirement already satisfied: py4j==0.10.7 in /home/hadoop/env/lib/python3.6/site-packages (from pyspark) (0.10.7)
Requirement already satisfied: nltk in /home/hadoop/env/lib/python3.6/site-packages (3.4.3)
Requirement already satisfied: six in /home/hadoop/env/lib/python3.6/dist-packages (from nltk) (1.12.0)
Requirement already satisfied: boto3 in /home/hadoop/env/lib/python3.6/site-packages (1.9.169)
Requirement already satisfied: botocore<1.13.0,>=1.12.169 in /home/hadoop/env/lib/python3.6/site-packages (from boto3) (1.12.169)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /home/hadoop/env/lib/python3.6/site-packages (from boto3) (0.9.4)
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in /home/hadoop/env/lib/python3.6/site-packages (from boto3) (0.2.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1; python_version >= "2.7" in /home/hadoop/env/lib/python3.6/dist-packages (from botocore<1.13.0,>=1.12.169->boto3) (2.8.0)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version >= "3.4" in /home/hadoop/env/lib/python3.6/dist-packages (from botocore<1.13.0,>=1.12.169->boto3) (1.25.3)
Requirement already satisfied: docutils>=0.10 in /home/hadoop/env/lib/python3.6/site-packages (from botocore<1.13.0,>=1.12.169->boto3) (0.14)
Requirement already satisfied: six>=1.5 in /home/hadoop/env/lib/python3.6/dist-packages (from python-dateutil<3.0.0,>=2.1; python_version >= "2.7"->botocore<1.13.0,>=1.12.169->boto3) (1.12.0)

In [1]:
import pandas as pd
import metapy
import boto3

In [2]:
s3 = boto3.client('s3')
obj = s3.get_object(Bucket='finaltext', Key='news.csv')
df = pd.read_csv(obj['Body'])

In [3]:
df.head()

,id,id_news,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142570 entries, 0 to 142569
Data columns (total 10 columns):
id             142570 non-null int64
id_news        142570 non-null int64
title          142568 non-null object
publication    142570 non-null object
author         126694 non-null object
date           139929 non-null object
year           139929 non-null float64
month          139929 non-null float64
url            85559 non-null object
content        142570 non-null object
dtypes: float64(2), int64(2), object(6)
memory usage: 10.9+ MB

In [6]:
newdf= df[df.columns[2]] + df[df.columns[4]]+ df[df.columns[9]]
df2 = pd.DataFrame(newdf)
df2.head()

                                                   0
0  House Republicans Fret About Winning Their Hea...
1  Rift Between Officers and Residents as Killing...
2  Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...
3  Among Deaths in 2016, a Heavy Toll in Pop Musi...
4  Kim Jong-un Says North Korea Is Preparing to T...

In [16]:
!pip install sklearn

Collecting sklearn
  Downloading https://files.pythonhosted.org/packages/1e/7a/dbb3be0ce9bd5c8b7e3d87328e79063f8b263b2b1bfa4774cb1147bfcd3f/sklearn-0.0.tar.gz
Collecting scikit-learn (from sklearn)
  Downloading https://files.pythonhosted.org/packages/85/04/49633f490f726da6e454fddc8e938bbb5bfed2001681118d3814c219b723/scikit_learn-0.21.2-cp36-cp36m-manylinux1_x86_64.whl (6.7MB)
     |████████████████████████████████| 6.7MB 23.6MB/s eta 0:00:01
Collecting joblib>=0.11 (from scikit-learn->sklearn)
  Downloading https://files.pythonhosted.org/packages/cd/c1/50a758e8247561e58cb87305b1e90b171b8c767b15b12a1734001f41d356/joblib-0.13.2-py2.py3-none-any.whl (278kB)
     |████████████████████████████████| 286kB 30.7MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.11.0 in /home/hadoop/env/lib64/python3.6/site-packages (from scikit-learn->sklearn) (1.16.4)
Collecting scipy>=0.17.0 (from scikit-learn->sklearn)
  Downloading https://files.pythonhosted.org/packages/72/4c/5f81e7264b0a7a8bd570810f48cd346ba36faedbd2ba255c873ad556de76/scipy-1.3.0-cp36-cp36m-manylinux1_x86_64.whl (25.2MB)
     |████████████████████████████████| 25.2MB 18.2MB/s eta 0:00:01    |█▍                              | 1.1MB 18.2MB/s eta 0:00:02     |███████████▎                    | 8.9MB 18.2MB/s eta 0:00:01     |█████████████████████           | 16.5MB 18.2MB/s eta 0:00:01     |█████████████████████████▎      | 19.9MB 18.2MB/s eta 0:00:01
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Stored in directory: /home/hadoop/.cache/pip/wheels/76/03/bb/589d421d27431bcd2c6da284d5f2286c8e3b2ea3cf1594c074
Successfully built sklearn
Installing collected packages: joblib, scipy, scikit-learn, sklearn
Successfully installed joblib-0.13.2 scikit-learn-0.21.2 scipy-1.3.0 sklearn-0.0

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
import re

textclean=[]

for document in df2[0]:
    line_clean = ""    
    tokens = str(document).split()
    tokens = [re.sub(r'[^A-Za-z0-9 ]+','',w) for w in tokens]
    tokens = [w for w in tokens if w.isalpha()]
    tokens = [w.lower() for w in tokens if len(w)>1]
    for w in tokens:
        line_clean=line_clean+w+" "
    textclean.append(line_clean)
        
df2[1]=textclean 

vectorizer = CountVectorizer(analyzer = "word", tokenizer = None, preprocessor = None, stop_words = None, max_features = None)

Infodoc = CountVectorizer().fit(df2[1])
bag_of_words = Infodoc.transform(df2[1])
Vacabulary=list(Infodoc.vocabulary_.keys())

print( "Se tienen los siguientes "+str(len(Vacabulary))+" tokens")

df2.head()

Se tienen los siguientes 442112 tokens

,0,1
0,House Republicans Fret About Winning Their Hea...,house republicans fret about winning their hea...
1,Rift Between Officers and Residents as Killing...,rift between officers and residents as killing...
2,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",tyrus wong bambi artist thwarted by racial bia...
3,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",among deaths in heavy toll in pop music the ne...
4,Kim Jong-un Says North Korea Is Preparing to T...,kim jongun says north korea is preparing to te...

In [19]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/hadoop/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [21]:
#remocion de stopwords
stop_words_nltk = set(stopwords.words('english'))

textclean=[]

for document in df2[1]:
    line_clean = ""    
    tokens = str(document).split()
    tokens = [w for w in tokens if w not in stop_words_nltk]
    for w in tokens:
        line_clean=line_clean+w+" "
    textclean.append(line_clean)
        
df2[2]=textclean 

vectorizer = CountVectorizer(analyzer = "word", tokenizer = None, preprocessor = None, stop_words = None, max_features = None)

Infodoc = CountVectorizer().fit(df2[2])
bag_of_words = Infodoc.transform(df2[2])
Vacabulary=list(Infodoc.vocabulary_.keys())

print( "Luego de aplicar stopwords NLTK qse tienen "+str(len(Vacabulary))+" tokens")
df2.head()

Luego de aplicar stopwords NLTK qse tienen 441969 tokens

,0,1,2
0,House Republicans Fret About Winning Their Hea...,house republicans fret about winning their hea...,house republicans fret winning health care sui...
1,Rift Between Officers and Residents as Killing...,rift between officers and residents as killing...,rift officers residents killings persist south...
2,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",tyrus wong bambi artist thwarted by racial bia...,tyrus wong bambi artist thwarted racial bias d...
3,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",among deaths in heavy toll in pop music the ne...,among deaths heavy toll pop music new york tim...
4,Kim Jong-un Says North Korea Is Preparing to T...,kim jongun says north korea is preparing to te...,kim jongun says north korea preparing test lon...

In [22]:
!pip install matplotlib

Collecting matplotlib
  Downloading https://files.pythonhosted.org/packages/da/83/d989ee20c78117c737ab40e0318ea221f1aed4e3f5a40b4f93541b369b93/matplotlib-3.1.0-cp36-cp36m-manylinux1_x86_64.whl (13.1MB)
     |████████████████████████████████| 13.1MB 29.4MB/s eta 0:00:01
Collecting cycler>=0.10 (from matplotlib)
  Downloading https://files.pythonhosted.org/packages/f7/d2/e07d3ebb2bd7af696440ce7e754c59dd546ffe1bbe732c8ab68b9c834e61/cycler-0.10.0-py2.py3-none-any.whl
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Downloading https://files.pythonhosted.org/packages/f8/a1/5742b56282449b1c0968197f63eae486eca2c35dcd334bab75ad524e0de1/kiwisolver-1.1.0-cp36-cp36m-manylinux1_x86_64.whl (90kB)
     |████████████████████████████████| 92kB 17.9MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.1 in /home/hadoop/env/lib/python3.6/dist-packages (from matplotlib) (2.8.0)
Requirement already satisfied: numpy>=1.11 in /home/hadoop/env/lib64/python3.6/site-packages (from matplotlib) (1.16.4)
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 (from matplotlib)
  Downloading https://files.pythonhosted.org/packages/dd/d9/3ec19e966301a6e25769976999bd7bbe552016f0d32b577dc9d63d2e0c49/pyparsing-2.4.0-py2.py3-none-any.whl (62kB)
     |████████████████████████████████| 71kB 25.0MB/s eta 0:00:01
Requirement already satisfied: six in /home/hadoop/env/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in /home/hadoop/env/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib) (41.0.1)
Installing collected packages: cycler, kiwisolver, pyparsing, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.1.0 matplotlib-3.1.0 pyparsing-2.4.0

In [29]:
# Realice un TF (Term Frecuency) por cada una de las palabras del conjunto de datos final.

Infodoc = CountVectorizer().fit(df2[2])
Vacabulary=list(Infodoc.vocabulary_.keys())
bag_of_words = Infodoc.transform(df2[2])
sum_words = bag_of_words.sum(axis=0)
words_freq = [(word, sum_words[0, idx]) for word, idx in Infodoc.vocabulary_.items()]

print(words_freq)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [24]:
#imprima el top-20 descendiente de las palabras más frecuentes en el BoW.
print("8.3 ordenamos los datos en orden descendente y mostramos las 20 palabras de mayor TF en el BoW")
pd.set_option('display.max_rows', 100)
words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
df3=pd.DataFrame(words_freq,columns=['Word', 'TF'])
df3.head(20)

8.3 ordenamos los datos en orden descendente y mostramos las 20 palabras de mayor TF en el BoW

NameError: name 'words_freq' is not defined

In [23]:
# Realice la grafica de barras en matplotlib de estas 20 palabras en orden descendentes.

import matplotlib.pyplot as plt

plt.figure(figsize=(15,10))
plt.bar(df2['Word'][:20],df3['TF'][:20])
plt.xticks(rotation=90)
plt.show()

NameError: name 'df3' is not defined

In [ ]:
!pip install TextBlob

In [ ]:
from textblob import TextBlob

In [ ]:
def sentiment_func(lyrics):
    try:
        return TextBlob(lyrics).sentiment
    except:
        return None

In [ ]:
df['sentimientos'] = df2.apply(sentiment_func)

In [ ]:
df['sentimientos'][0][0]

df['polaridad'] = df['sentimientos'].apply(lambda x: x[0])
df['Subjetividad'] = df['sentimientos'].apply(lambda x: x[1])